/*Limpar formatações e formatações padrões*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #e6e6e6;
}

.clear {
    clear: both;
}

/*Layout*/

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

a:link, a:visited {
    color: #fff;
    padding: 8px 12px;
}

a:hover {
    color: #F7B600;
    background: white;
}

#area-principal {
    width: 920px;
    margin: 0px auto;
}

#area-lateral, #area-postagem{
    background-color: #fff;
}

#area-postagem {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

.postagens {
    padding: 20px;
}

#rodape {
    text-align: center;
    padding: 25px;
    background-color: #cccccc;
}

/*Fomatações*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}